<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @log.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @log.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @log.mobile %>
</p>

<p>
  <strong>Establishmentid:</strong>
  <%= @log.establishmentid %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
