<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @establishment.estname %>
</p>

<p>
  <strong>Password:</strong>
  <%= @establishment.password %>
</p>

<%= link_to 'Edit', edit_establishment_path(@establishment) %> |
<%= link_to 'Back', establishments_path %>